.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.login-box {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 8px;
}

.login-box h2 {
  text-align: center;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
}
.login-btn{
  cursor: pointer;
}